[General]
contrastOpacity=33
copyOnDoubleClick=true
copyPathAfterSave=true
filenamePattern=print-%F_%H-%M
saveAfterCopy=true
savePath={{ ansible_env.HOME }}/Bilder/Screenshots
showStartupLaunchMessage=false
uploadHistoryMax=25
