[General]
open_maximized=0
save_window=0
show_toolbar=0
ask_before_save=1
ask_before_delete=0
auto_save_rotated=0
rotate_exif_only=1
slide_delay=1
zoom_factor=5
bg=#000000
bg_full=#000000
window=0;42;2560;1337;
jpg_quality=90
png_compression=9
